/* h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
} */
header{
    margin-bottom: 35px;
}
#subh1 {
    text-align: justify;
    font-size: 190%;
    font-family: 'Playfair Display', serif;
    /* font-size: x-large; */
}

/* h2 {
    text-align: center;
    font-style: italic;
} */
section{
    margin-bottom: 45px;
}
h3 {
    background-color: hsla(323, 55%, 83%, 0.443);
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: medium;
}

.exp{
    margin-top: 35px;
}

.time {
    font-size: medium;
    font-weight: 600;
}

body {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;

    font-family: 'Playfair Display', serif;
    background-color: rgb(253, 208, 236);
}

.info {
    background-color: hsla(323, 55%, 83%, 0.443);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h4 {
    margin-top: 45px;
    margin-bottom: 3px;
    background-color: hsla(323, 55%, 83%, 0.443);
    text-align: justify;
}


.CodL {
    margin-top: 45px;
    background-color: hsla(323, 55%, 83%, 0.443);
    text-align: justify;
    font-weight: 900;
    margin-bottom: 10px;
}

table {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
    border: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-collapse: collapse;
    width: 35%;

}

#empty-cell {
    background-color: hsla(323, 54%, 83%, 0.683);
}

.col {
    background-color: hsla(323, 54%, 83%, 0.683);
}

#n1 {
    background-color: rgb(253, 208, 236);

}

#n2, #n4 {
    background-color: hsla(323, 54%, 83%, 0.683);

}

#n3 {
    background-color: rgb(253, 208, 236);
}

/* #n4 {
    background-color: hsla(323, 54%, 83%, 0.683);
} */
/* td {
    background-color: rgb(253, 208, 236);
} */
#comment {
    margin-top: 20px;
}

.msg {
    font-size: medium;
    font-style: italic;
    font-weight: 600;
 }

 span {
font-size: small;
 }

 label {
    font-size: small;
    font-weight: 550;
 }
footer {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}